{% extends 'layout.html' %} {% block title %} Home {% endblock %} {% block body
%}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="container mb-6 text-center ">
    <img src="{{url_for('static', filename='assets/images/headers.jpg')}}" class="img-fluid rounded img_head" alt="Image header">
</div>
<div class="container mb-6">
    <div class="row">
        <div class="col 12">
            <p class="text-center fs-6 fw-bold">Predictive accuracy of the estimated probability of default will be more valuable than the binary result of classification - credible or not credible clients.</p>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col 12">

        </div>
    </div>
    <div class="row">
        <div class="col 12">
        </div>
    </div>
</div>
<div class="container mt-6">
    <!-- Example row of columns -->
    <div class="row d-sm-flex">
        <div class="col-md-4 mt-3">
            <div class="card text-black text-center " style="max-width: 30rem">
                <h5 class="card-header">
                Data Summary
                </h5>
                <img src="{{url_for('static', filename='assets/images/data.jpg')}}" class="card-img-top" alt="..." width="100%" />
                <div class="card-body">
                    <p class="card-text">
                        Describes a data set
                    </p>
                    <div class="card-footer">
                        <a href="/data-set" class="btn btn-primary">Go Data</a>
                      </div>
                   
                </div>
            </div>
        </div>

        <div class="col-md-4 mt-3">
            <div class="card text-black text-center " style="max-width: 30rem">
                <h5 class="card-header">
                    Feature Importance
                </h5>
                <img src="{{url_for('static', filename='assets/images/feature.jpg')}}" class="card-img-top" alt="..." width="100%" />
                <div class="card-body">
                    <p class="card-text">
                        Featuring Highly Impactful Features
                    </p>
                    <div class="card-footer">
                        <a href="/feature" class="btn btn-primary">Go Feature</a>
                    </div>
                   
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-3">
                <div class="card text-black text-center " style="max-width: 30rem">
                    <h5 class="card-header">
                        Classification Stats
                    </h5>
                    <img src="{{url_for('static', filename='assets/images/confussion.jpg')}}" class="card-img-top" alt="..." width="100%" />
                    <div class="card-body">
                        <p class="card-text">
                            Displaying Confusion Matrix and ROC Graph
                        </p>
                        <div class="card-footer">
                            <a href="/confuss" class="btn btn-primary">Go Classification</a>
                        </div>
                       
                        </div>
                    </div>
                </div>
        </div>

        <div class="row d-sm-flex mt-5">
            <div class="col-md-4 mt-3">
                <div class="card text-black text-center " style="max-width: 30rem">
                    <h5 class="card-header">
                    Prediction
                    </h5>
                    <img src="{{url_for('static', filename='assets/images/predict.jpg')}}" class="card-img-top" alt="..." width="100%" />
                    <div class="card-body">
                        <p class="card-text">
                            Case Prediction with K-Nearest Neighbor
                        </p>
                        <div class="card-footer">
                            <a href="/predict" class="btn btn-primary">Go Prediction</a>
                          </div>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3"></div>
            <div class="col-md-4 mt-3">
                <div class="card text-black text-center " style="max-width: 30rem">
                    <h5 class="card-header">
                        Other Projects
                    </h5>
                    <img src="{{url_for('static', filename='assets/images/other.jpg')}}" class="card-img-top" alt="..." width="100%" />
                    <div class="card-body">
                        <p class="card-text">
                            Other Project Milestones
                        </p>
                        <div class="card-footer">
                            <a href="/other" class="btn btn-primary">Go Projects</a>
                        </div>
                       
                        </div>
                    </div>
                </div>
            </div>


    </div>

</div>
{% include 'includes/_footer.html' %}
{% endblock %}
